"""{{ project_name }} - infrastructure managed by tlumi."""

import pulumi

# Example: uncomment and install a provider with 'tlumi deps add pulumi-aws'
# from pulumi_aws import s3
#
# bucket = s3.BucketV2(
#     "my-bucket",
#     tags={"ManagedBy": "tlumi"},
# )
#
# pulumi.export("bucket_name", bucket.bucket)
